*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/wrapper/gradle-wrapper.properties
build.gradle
app/build.gradle
.idea/modules.xml
.idea/misc.xml
.idea/shelf/